		*{margin:0; padding:0;}
		li{list-style: none;}
		a{text-decoration:none;}
		body{overflow-x:hidden; overflow-y:auto;}
		a:link {text-decoration: none; color:white;}
		a:visited {text-decoration: none; color:white;}
		a:active {text-decoration: none; color:white;}
		a:hover {text-decoration: none; color:white;}

		.wrapper{width: 1000px; margin:0 auto;}
		.wrapper li ul {background: rgb(128,128,128);
                        display: none;
                        position: absolute;
                        width: 180px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 200;
                        }
        .wrapper li ul li {width:180px; color:black;}
        .wrapper li:hover ul {display:block;}
        .menu a:hover {background-color: #ddd;}
        .dropbtn a:hover {font-weight:bold;}
        .dropbtn ul li a:hover {font-weight:bold;}
		.clearfix{content: ''; display: block; clear: both;}
		
		header{height: 75px; background-color: #08088A; border:1px solid #253342; position: fixed; width: 100%; z-index: 9999; top:0; left: 0; }
		h1{color: white; line-height:75px; float:left;}
		.menu{float:right;}
		.menu li{float:left;}
		.menu a {line-height: 75px; color:white; padding: 0 15px; display: block;}

		.content{background-color:#EFF8FB; margin-top: 75px;padding-top:20px; padding-left:20px; padding-right:20px; padding-bottom:2px;}

		footer{height:100px; background-color: #BDBDBD; text-align: center;}
		#copyright{padding-top: 10px; padding-bottom: 10px;}                          //여기까지 헤더,풋터 공통


		#button_left {float: left; bottom:120px;}
		#button_right {float: right;}							// 이전으로 다음으로 메인으로 버튼 정렬