
#image {margin-left:10%; margin-right: auto; display: block; text-align: center;}
#image_car {margin-left:32%;}
#paper { width : 140px; height :150px; padding : 5px; margin : 5px; border : 3px solid; margin-left: 15.3%; margin-right: auto; float: left ;}

.left {background:skyblue;}
.leftunder {background:white;}

body h3 {margin-left:10%;}
body h4 {margin-left:10%;}
p {margin-left:10%; margin-right: 150px}
table {margin-left:10%;border-collapse: collapse;}
article ul {margin-left:10%; margin-right: 150px}
article ol {margin-left:10%; margin-right: 150px}