#image {margin-left:10%; margin-right: auto; display: block; text-align: center;}
body h3 {margin-left:10%;}
body p {margin-left:10%; margin-right: 150px}
table {border-collapse: collapse;margin-left:10%;}
.leftunder {background:white;}

.center {margin-left:10%; text-align: center;}
.center_video {margin-left:10%;; text-align: center;}
.left {background:skyblue;}