
#image {margin-left:0%; margin-right: auto; display: block; }  

body h3 {margin-left:10%;}
body h4 {margin-left:10%;}
body p {margin-left:10%; margin-right: 150px}
article ul {margin-left:10%; margin-right: 150px}
article ol {margin-left:10%; margin-right: 150px}